.sideMenu
  .sideMenu-header
    .sideMenu-headerTop
      %p.sideMenu-headerTop__name 
        = current_user.name
      .sideMenu-headerTop__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'cog')
  .sideMenu-main
    .sideMenu-main__group
      = link_to "#" do
        %p.sideMenu-main__groupName techcamp
        %p.sideMenuedi-main__groupMessage まだメッセージありません


