.new
  .newTop
    %p= image_tag 'logo/logo.png', class: "newTop--logo"

  .newMain
    .newMain-Box
      .newMain-Boxto
      = form_with(model: @item, html:{class: "newMain-Box__form"}, local: true) do |f| 
        = label :%, '出品画像',class: 'newMain-Box__form1 newlabel'
        %span.newspan 必須
        %P.newMain-Boxtotext 最大10枚までアップロードできます
        .newMain-img
        = f.fields_for :images do |image|
          .clearfix
            %ul#previews
              %li.input
                // 画像を取り込むインプットボタン
                %P.upload-label
                  .upload-label__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
                    .input-area
                    = image.file_field :name, class: "newimage_upload"
        .newMain-BoxtoLine
        = label :%, '商品名',class: 'newlabel' 
        %span.newspan 必須
        %p= f.text_field :%, placeholder: '40字まで', class: 'newMain-Boxto-name inputfield', autocomplete: "off"
        -# limit 40 ?? option　追加
        = label :%, '商品詳細',class: 'newlabel'
        %span.newspan 必須
        %p= f.text_area :%, placeholder: "商品の説明（必須 1,000文字以内） \n（色、素材、重さ、定価、注意点など）\n\n例）1900年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: 'texttoFor-de', autocomplete: "off", row: '7'
        -# # limit 1000 ?? option　追加
        %section.newdetail 商品の詳細
        = label :%, 'カテゴリー',class: 'newlabel'
        %span.newspan 必須
        = form_for '' do |f|
          %p= f.select :budget_d, [["--", 0]], {}, {class: 'select1'}
          -# = f.カテゴリーテーブルから持ってくる
          -# 後ほど山崎さんができたら合わせる
        = label :%, 'ブランド', class: 'newlabel' 
        %span.newspan_1 任意
        %p= f.text_field :%, placeholder: '例)  Apple', class: '', autocomplete: "off"
        = label :%, '商品の状態', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["--", 0]], {}, {class: 'select2'}
        = label :%, '配送料の負担', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["--", 0]], {}, {class: 'select3'}
        = label :%, '発送元の地域', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["--", 0]], {}, {class: 'select4'}
        = label :%, '発送までの日数', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["--", 0]], {}, {class: 'select5'}
        %section.newprice 価格 (¥100〜9,999,999)
        = label :%, '販売価格',class: 'newlabel' 
        %span.newspan 必須
        ¥
        = f.text_field :%, placeholder: '0', class: '', autocomplete: "off"
        %p.newpirce2 販売手数料
        %p.newpirce3 販売利益
        %p= f.submit "出品する",class: 'form-btn'
        %p= f.submit "下書きに保存",class: 'form-draft'
        = link_to "もどる", root_path, class: "from-back"
        
        ==link_to
        
          





-# = form_with(model: @product, html:{class: "texttoFor"}, local: true) do |f|
-#   = label :product_name, '商品名入力',class: 'texttoFor-lName labe' 
-#     %span.span 必須
-#     %p= f.text_field :product_name, placeholder: '商品名', class: 'texttoFor-name', autocomplete: "off"
-#     = label :description, '商品詳細',class: 'texttoFor-ldes labe'
-#     %span.span 必須
-#     %p= f.text_area :description, placeholder: "商品の説明 \n\n例）ここに商品の仕様を記入します", class: 'texttoFor-de', autocomplete: "off", row: '7'
-#     = label :price, '価格',class: 'texttoFor-lprice labe'
-#     %span.span 必須
-#     %p
-#       ¥
-#       = f.text_field :price, placeholder: "4,000", id:"product_price", class: 'texttoFor-price', autocomplete: "off"
-#     = f.label :img, '画像', class: 'texttoFor-limg labe'
-#     %span.span 必須
-#     %P= f.file_field :img, class: "image, texttoFor-img", accept: 'img/jpeg,img/gif,img/png'
-#     = f.submit "出品する",class: 'textFor-btn'